/*全般*/

html, body, #cesiumContainer {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position:relative;
	font-family: "MS Pゴシック",sans-serif; 
}

h2 {
    font-size:13px;
    font-weight:bold;
    text-align:center;
}

a {
    color:black;
	text-decoration:none;
}

a:hover{
	color:white;
	background:gray;
}

/*Cesiumインターフェイス関連*/

.cesium-infoBox-iframe {
	width:320px;
	overflow:hidden;
	padding:0px;
	margin:0px;
	z-index:10001;
}

.cesium-infoBox {
	width:320px;
	overflow:hidden;
	padding:0px;
	margin:0px;
	z-index:10001;
	background-color:rgba(255,255,255,0.7);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.cesium-infoBox-visible {
	width:320px;
	overflow:hidden;
	padding:0px;
	margin:0px;
	z-index:10001;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.cesium-infoBox-title {
	padding:5px 24px;
	overflow:hidden;
	color:#000;
	background-color:rgba(255,255,255,0.5);
}

button.cesium-infoBox-close {
	color:#aaa;
}
.cesium-selection-wrapper svg {
    fill: #FFF;
    stroke: #FFF;
    stroke-width: 0px;
    opacity:0.7;
}

/*ボタン群*/

.sample {
	position:absolute;
	height:100%;
}
#button {
	position:absolute;
	top:10px;
	right:55px;
	z-index:10005;
}
#button2 {
	position:absolute;
	top:10px;
	right:8px;
	z-index:10005;
}
#button3 {
	position:absolute;
	top:170px;
	right:54px;
	z-index:10005;
}
#button4 {
	position:absolute;
	top:100px;
	left:50%;
	margin-left:-20px;
	z-index:10100;
}
#buttonGeo {
	position:absolute;
	bottom:100px;
	left:50%;
	margin-left:-20px;
	opacity:0.9;
}

/*スライドメニュー群*/

#slide_menu{
    position: fixed;
    top: 50px;
    right: 10px;
    width: 80px;
    opacity:0.8;
    padding:0px 0px 20px 0px;
    margin:0px;
    margin-bottom:0px;
    background:white;
    text-align:center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#slide_menu2{
    position: fixed;
    top: 140px;
    right: -200px;
    width: 100px;
    opacity:0.8;
    padding:10px 10px 0px 10px;
    margin:0px;
    margin-bottom:0px;
    background:white;
    text-align:left;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	z-index:10005;
}

.viewpoint {
    padding: 0;
    margin: 20px 0px 0px 0px;
    font-size:11px;
    list-style-type:none;
    line-height:1.7em;
    text-indent:0px;
    background:white;
}

.slide_label{
	font-size:11px;
	margin:0px 0px 2px 0px;
	padding:0px;
	height:12px;
}

#slider {
	position: absolute;
	width: 100px;
	top: 5px;
	background: none repeat scroll 0% 0% transparent;
	z-index: 10001;
	right: 98px;
}

/*ローディング*/

#blackOut {
	position:absolute;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	background:black;
	z-index:10002;
	opacity:0.6;
}

.loading {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-32px;
	margin-left:-32px;
}

input {
  position: relative;
 /* top: 22.5px;
  left: 830px;*/
	margin:2px 0px 0px 0px;
	padding:0px;
	width: 150px !important;
}

/*ジオコーディング*/

.geocode {
	opacity:0.7;
	position:absolute;
	top:18px;
	left:55px;
	z-index:10001;
}

.textbox {
	border:0;
  position: absolute;
  left: -27.5px;
	margin:-5px 0 0 0;
	padding:0px 0px 1px 2px;
	font-size:12px;
	width:50px;
	height:30px;
}

/* ストリートビュー関連 */

#streetView_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color:rgba(0,0,0,0.7);
	z-index:20000;
}
#streetView {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.btn {
	position: absolute;
	left: 90%;
	bottom: 90%;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 24px;
	padding: 5px 12px 5px 12px;
	text-decoration: none;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

/* ストビュー利用不可メッセージ */

#svNotAvailable {
	position:absolute;
	width:100%;
	height:100%;
	margin:0;
	background-color: rgba(0,0,0,0.8);
	color:white;
	z-index:10010;
}

.errorMessage {
	position: absolute;
	top: 50%;
	width:100%;
	text-align:center;
	margin-top: -1em;
}

#wrapper {
  width: 740px;
  margin: 30px auto;
}
#nav {
  position: absolute;
  top: 40px;
  left: -40px;
  /*padding-left: 0;
  margin-left: 0;*/
  width:190px;
  /*background-color: #fff; */
}

#nav li {
  list-style:none;
}

div.main {
  height: 60px;
  line-height: 60px;
  text-indent: 25px;
  background-color:#3FC6F3;
  border-left:10px solid #0D9BE5;
  cursor:pointer;
  color: #fff;
}

ul.subs li{
  display:block;
  height: 40px;
  line-height: 40px;
  text-indent:25px;
  background-color:#F5F5F5;
  border-left:10px solid #0D9BE5;
  font-size: 8px;
  color: #164158;
}

li.color-blue div.main {
  background-color:#3FC6F3;
  border-left:10px solid #0D9BE5;
}

li.color-red div.main {
  background-color:#FF625F;
  border-left:10px solid #FD2621;
}

li.color-yellow div.main {
  background-color:#FEBD01;
  border-left:10px solid #FF8d00;
}

li.color-green div.main {
  background-color:#46D7C6;
  border-left:10px solid #15B59B;
}

li.color-blue ul.subs li a {
  border-left:10px solid #0D9BE5;
  color: #0D9BE5;
}

li.color-blue ul.subs li a:hover {
  background-color: #3FC6F3;
  color: #FFF;
}

li.color-red ul.subs li a {
  border-left:10px solid #FD2621;
  color: #FD2621;
}

li.color-red ul.subs li a:hover {
  background-color: #FF625F;
  color: #FFF;
}

li.color-yellow ul.subs li a {
  border-left:10px solid #FF8D00;
  color: #FF8D00;
}

li.color-yellow ul.subs li a:hover {
  background-color: #FEBD01;
  color: #FFF;
}

li.color-green ul.subs li a {
  border-left:10px solid #15B59B;
  color: #15B59B;
}

li.color-green ul.subs li a:hover {
  background-color: #46D7C6;
  color: #FFF;
}

li.color-blue div.open {
  background:url("images/arrow.png") no-repeat #0D9BE5 28px bottom;
}

li.color-red div.open {
  background:url("images/arrow.png") no-repeat #FD2621 28px bottom;
}

li.color-yellow div.open {
  background:url("images/arrow.png") no-repeat #FF8D00 28px bottom;
}

li.color-green div.open {
  background:url("images/arrow.png") no-repeat #15B59B 28px bottom;
}

li.color-blue div.rollover {
  background-color: #0D9BE5;
}

li.color-red div.rollover {
  background-color: #FD2621;
}

li.color-yellow div.rollover {
  background-color: #FF8D00;
}

li.color-green div.rollover {
  background-color: #15B59B;
}

.topvar {
  position: absolute;
  /*box-shadow:0px 10px 10px -10px rgba(0,0,0,0.8);*/
  top: 0;
  width: 100%;
  height: 150px;
  /*background-color:rgba(255,255,255,0.8);*/
  background-image: url("images/title.png");
  background-repeat: no-repeat;
  background-position: center;
}

.page-header.image_box {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  border: 1px solid #000;
}


.navi{
    width:80%;
    margin:0 auto;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    border: 1px solid #000;
}

.navi li{
    float:left;
    padding:5px 10px;
    text-align:center;
    list-style: none;
    margin: 10px;
}

.image_box {
  margin-left: 22.5%; 
}

.explain{
  text-align: center;
  font-size: 16px;
  line-height:3em;
  text-indent:0px;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

.thumbnail .caption {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  color:#fff;
}
